ant.properties
build.properties
local.properties
secure.properties
Corona.jar
JNLua.jar
plugin/2015.2786/android/assets
libfbAudienceNetworkPlugin.a
plugin/2015.2786/android/google-play-services_lib/bin
plugin/2015.2786/android/google-play-services_lib/gen
plugin/2015.2786/ios/App.xcodeproj/project.xcworkspace/xcuserdata
plugin/2015.2786/ios/App.xcodeproj/xcuserdata/Danny.xcuserdatad/xcschemes
plugin/2015.2786/ios/build
plugin/2015.2786/ios/Plugin.xcodeproj/xcuserdata/Danny.xcuserdatad
plugin/2015.2786/android/app/src/main/assets
plugin/2015.2786/android/app/src/main/jniLibs
Iconr
.sync/ID
.sync/IgnoreList
.sync/StreamsList

android_FBAudienceNetworkPaid/\.idea/

android_FBAudienceNetworkPaid/app/src/main/assets/

android_FBAudienceNetworkPaid/app/src/main/jniLibs/
android_FBAudienceNetworkPaid/app/src/main
**xcuser**
ios/build
ios/BuiltPlugin
Build/
.idea
.gradle
ios/libFBAudienceNetworkPluginPaid.a
